:root {
    /* TEMP COLOR FOR DESIGN PHASE, REPLACE BY --alpha0 LATER */
    --temp: rgba(200, 100, 200, 0.5);
    /* background color*/
    --bgc: rgba(0, 0, 0, 1);
    /* text color */
    --tc: rgba(255, 255, 255, 0.85);
    /* design colors */
    --alpha0: transparent;
    --dc1: rgba(127, 127, 127, 0.5);
    --dc2: rgba(127, 127, 127, 25);
    /* accent colors */
    --acr: rgba(200, 100, 100, 0.75);
    --acg: rgba(100, 200, 100, 0.75);
    --acb: rgba(100, 100, 200, 0.75);
    --acy: rgba(200, 200, 100, 0.75);
    --act: rgba(100, 200, 200, 0.75);

}

body {
    margin: 5px;
    background-color: var(--bgc);
    color: var(--tc);
    font-family: Titillium Web, sans-serif;
    font-size: 22px;
}
