BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
IndentAccessModifiers: false
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
# C++
DerivePointerAlignment: false
PointerAlignment: Left
