:root {
    /* TEMP COLOR FOR DESIGN PHASE, REPLACE BY --alpha0 LATER */
    --temp: rgba(200, 100, 200, 0.5);
    /* background color*/
    --bgc: rgba(0, 0, 0, 1);
    /* text color */
    --tc: rgba(255, 255, 255, 0.85);
    /* design colors */
    --alpha0: transparent;
    --dc1: rgba(127, 127, 127, 0.5);
    --dc2: rgba(127, 127, 127, 25);
    /* accent colors */
    --acr: rgba(200, 100, 100, 0.75);
    --acg: rgba(100, 200, 100, 0.75);
    --acb: rgba(100, 100, 200, 0.75);
    --acy: rgba(200, 200, 100, 0.75);
    --act: rgba(100, 200, 200, 0.75);

}

body {
    margin: 5px;
    background-color: var(--bgc);
    color: var(--tc);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

/* manage layout */
.container {
    margin: 5px;
    border: 1px dotted var(--temp);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.fv {
    flex-direction: column;
}

.fh {
    flex-direction: row;
}

.feq {
    flex: 1 1 0px;
    width: 100%;
}

/* manage content */
.content {
    margin: 5px;
    padding: 10px;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    background-color: var(--alpha0);
}

.content::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dc1);
    clip-path: polygon(
        0% 0%,
        65% 0%,
        65% 2px,
        2px 2px,
        2px 35%,
        0% 35%,
        0% 100%,
        calc(100% - 65%) 100%,
        calc(100% - 65%) calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) calc(100% - 35%),
        100% calc(100% - 35%),
        100% 100%,
        0% 100%,
        0% 0%
        );
}
