:root {
    /* TEMP COLOR FOR DESIGN PHASE, REPLACE BY --alpha0 LATER */
    --temp: rgba(200, 100, 200, 0.1);
    /* background color*/
    --bgc: rgba(0, 0, 0, 1);
    /* text color */
    --tc: rgba(255, 255, 255, 0.85);
    /* design colors */
    --alpha0: rgba(0, 0, 0, 0);
    --dc1: rgba(127, 127, 127, 0.5);
    --dc2: rgba(127, 127, 127, 25);
    /* accent colors */
    --acr: rgba(200, 100, 100, 0.75);
    --acg: rgba(100, 200, 100, 0.75);
    --acb: rgba(100, 100, 200, 0.75);
    --acy: rgba(200, 200, 100, 0.75);
    --act: rgba(100, 200, 200, 0.75);

}

body {
    margin: 5px;
    background-color: var(--bgc);
    color: var(--tc);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

/* manage layout */
.container {
    margin: 5px;
    background-color: var(--temp);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.fv {
    flex-direction: column;
}

.fh {
    flex-direction: row;
}

.feq {
    flex: 1 1 0px;
    width: 100%;
}

/* manage content */
.panel {
    margin: 5px;
    width: max-content;
    background-color: transparent /* var(--dc1) */;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.content {
    padding: 10px;   
    background-color: var(--bgc);
    clip-path: polygon(
        0% 0%,
        45% 0%,
        45% 2px,
        2px 2px,
        2px 35%,
        0% 35%,
        0% 100%,
        calc(100%-45% 100%,
        calc(100%-45% calc(100%-2px),
        calc(100%-2px) calc(100%-2px),
        calc(100%-2px) calc(100%-35%,
        100% calc(100%-35%,
        100% 100%,
        0% 100%,
        0% 0%
        /* 0% 35%,
        5px 35%,
        5px 5px,
        45% 5px,
        45% 0%,
        100% 0%,
        100% calc(100% - 35%),
        calc(100% - 5px) calc(100% - 35%),
        calc(100% - 5px) calc(100% - 5px),
        calc(100% - 45%) calc(100% - 5px),
        calc(100% - 45%) 100%,
        0% 100%,
        0% */
        );
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
